*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

    body {
        padding: 0;
        margin: 0;
        font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif;
    }